<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021838572230-htkkdo3sp6qaalj250t830hjodh7pgff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021838572230-htkkdo3sp6qaalj250t830hjodh7pgff</string>
	<key>API_KEY</key>
	<string>AIzaSyDpS7rpnfw372vKqMP5EvyD0yUcTZROZN4</string>
	<key>GCM_SENDER_ID</key>
	<string>1021838572230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gene.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>gen-e-sustainathon</string>
	<key>STORAGE_BUCKET</key>
	<string>gen-e-sustainathon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021838572230:ios:42cb7be97aca4d40e9b5c7</string>
</dict>
</plist>